.eventCard {
  margin: 20px 0;

  .eventCardHeader {
    padding: 1rem;

    .eventCardTitle {
      margin: 0;
    }

    .eventCardDate {
      margin: 0;
    }
  }

  .eventCardBody {
    padding: 1rem;
    white-space: pre-wrap;
  }

  .actions {
    .actionLeft {
      width: 100%;

      .textField {
        width: 100%;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }
}