.eventCard {
  margin: 20px 0;
  border-radius: 7px;

  .eventCardHeader {
    border-radius: 7px 7px 0 0;
    padding: 1rem;

    .eventCardTitle {
      margin: 0;
    }

    .eventCardDate {
      margin: 0;
    }
  }

  .eventCardBody {
    white-space: pre-wrap;
  }

  .actions {
    .actionLeft {
      width: 100%;

      .textField {
        width: 100%;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }
}