.dialog{
    
    .progress{
        margin:0 30px;
        margin-top: 15px;
    }
    .imageBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:90%;
        margin-left: 5%;
        margin-bottom: 10px;


        .imageTuto{
            max-width: 100%;
            width: auto;
            max-height: 200px;
        }
    }
    
}
